body {
    margin: 10px;
    white-space: nowrap;
}

h1 {
    font-size: 15px;
}

#container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.save-button {
    width: 300px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-blue {
    background-color: #3b3de5;
}

.button-red {
    background-color: #f40a12;
}

.button-green {
    background-color: #4CAF50;
}

.first {
    position: relative;
}

.second {
    position: relative;
    margin-top: 10px
}